<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <record id="bank_digit_payroll_txt_tree" model="ir.ui.view">
        <field name="name">txt.bank.payroll</field>
        <field name="model">txt.bank.payroll</field>
        <field name="arch" type="xml">
            <tree string="Bank configuration Txt" editable="bottom">
                <field name="banks_id"/>
                <field name="bank_digit_verify"/>
            </tree>
        </field>
    </record>

    <record id="company_payroll_txt_tree" model="ir.ui.view">
        <field name="name">txt.company.payroll</field>
        <field name="model">txt.company.payroll</field>
        <field name="arch" type="xml">
            <tree string="Company configuration Txt" editable="bottom">
                <field name="company_id"/>
                <field name="company_id_number"/>
            </tree>
        </field>
    </record>

    <record id="action_bank_digit_txt_payroll" model="ir.actions.act_window">
        <field name="name">Bank Digit TXT</field>
        <field name="res_model">txt.bank.payroll</field>
        <field name="view_mode">tree,form</field>
    </record>

    <record id="action_company_txt_payroll" model="ir.actions.act_window">
        <field name="name">Company ID number TXT</field>
        <field name="res_model">txt.company.payroll</field>
        <field name="view_mode">tree,form</field>
    </record>

    <menuitem name="Bank Digit TXT Payroll"
              id="config_bank_txt_payroll"
              sequence="51"
              action="action_bank_digit_txt_payroll"
              parent="hr_payroll_community.menu_hr_payroll_community_configuration"/>

    <menuitem name="Company ID number TXT Payroll"
              id="config_company_txt_payroll"
              sequence="52"
              action="action_company_txt_payroll"
              parent="hr_payroll_community.menu_hr_payroll_community_configuration"/>
</odoo>
