.set-input {
    border: 0 !important;
    outline: 0 !important;
    background-color: transparent !important;
    border-bottom: 2px solid white !important;
    border-radius: 0;
    margin-top: 30px !important;
}
.set-input::placeholder {
    color: white;
    opacity: 1;
}
.set-input::-ms-input-placeholder {
    color: white;
    opacity: 1;
}
.set-input:focus {
    color: white;
    opacity: 1;
}
select option {
    background-color: black !important;
    color: white !important;
    opacity: 1;
}
.set-button {
    background-color: transparent !important;
    color: white !important;
    border: 0 !important;
    outline: 0 !important;
    border-bottom: 2px solid white !important;
    border-radius: 0;
    float: right;
    transition: 0.5s !important;
    width: 25%;
}
.set-button:hover {
    background-color: white !important;
    color: black !important;
    transition: 0.5s !important;
}
.set-footer{
    position: absolute;
    bottom: 0px;
}